<!DOCTYPE html>
<html>
  <head>
    <title>Prestamos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
    
      <ul class="list-unstyled components">
        
        <li class="active">
          <a href="/profile/<%= @user.id %>">Perfil</a>

        </li>
        <li>
          <a href="/loans/<%= @user.id %>">Prestamos</a>


        </li>
      </ul>


    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                Menu
                                <span>Toggle Sidebar</span>
                            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Page</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="row">
        <div class="col-sm-12 ">
            Bienvenido <%= @user.name %>, aqui puedes actualizar todos tus datos
             <%= form_tag("/update_user/#{@user.id}", method: "get") do %>
                <div class="form-group">
                    <%= text_field_tag :name, @user.name, class: "form-control", placeholder: "Ingresa tus nombres" %>
                </div>
                
                 <div class="form-group">
                    <%= text_field_tag :lastname, @user.lastname, class: "form-control", placeholder: "Ingresa tus apellidos " %>
                </div>
                
                <div class="form-group">
                    <%= text_field_tag :email, @user.email, class: "form-control", placeholder: "Ingresa tu correo electronico" %>
                </div>
                
                <div class="form-group">
                    <%= text_field_tag :password, @user.password, class: "form-control", type: "password", placeholder: "Ingresa tu contrasena" %>
                </div>
                
                <div class="form-group">
                    <%= text_field_tag :phone, @user.phone, class: "form-control", placeholder: "Ingresa tu telefono" %>
                </div>
                
                <div class="form-group">
                    <%= text_field_tag :address, @user.address, class: "form-control", placeholder: "Ingresa tu direccion" %>
                </div>
                
                <div class="form-group">
                    <%= text_field_tag :city, @user.city, class: "form-control", placeholder: "Ingresa tu ciudad" %>
                </div>
                
                <div class="form-group">
                    <%= text_field_tag :ci, @user.ci, class: "form-control", placeholder: "Ingresa tu CI" %>
                </div>
                
                <center>
                    <%= submit_tag("Actualizar") %>
                </center>
            <% end %>
        </div>
    </div>

    </div>
  </div>





  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {


      $('#sidebarCollapse').on('click', function() {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
    });
  </script>

  </body>
</html>
